/* Configuração padrão da página
		-------------------------------*/
		body, html {
			margin: 0;
			font: 16px "Lato", sans-serif;
			color: #777;
			height: 100%; /**** colocando o height como 100%, ele vai ocupar toda a tela, só assim para ter o efeito parallax ***/
		}

		.conteudo {
			color: #777;
			background-color: white;
			text-align: justify;
			padding: 50px 80px;
		}

		h3 {
			text-transform: uppercase;
			color: #111;
			text-align: center;
		}

		p{
			margin-bottom: 20px;
		}

		/* Efeito Parallax
		-------------------------------*/
		.caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100%;
            /*** opacity: 0.7; - caso queira que a imagem fica opaca ***/
			background-repeat: no-repeat;
			background-size: cover; /** a iamgem vai cobrir todo o tamanho da tela, sem ficar espaços em branco **/
			background-position: center;
			background-attachment: fixed; /*** a iamgem vai ficar fixa, quando rolar ela vai continuar parada ***/
		}

		.caixa1 {
			background-image: url(../imagens/imagem1.jpg);
		}

		.caixa2 {
			background-image: url(../imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(../imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(../imagens/imagem4.jpg);
		}

		.conteudo-titulo {
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			text-align: center;
		}

		.conteudo-titulo span.titulo {
			color: #fff;
			background-color: #111;
			padding: 18px;
			font-size: 25px;
			letter-spacing: 5px;
			text-transform: uppercase;
		}